google-genai
langchain
langgraph
langchain-google-genai
schemdraw
pandas
matplotlib
tectonic
duckduckgo-search
pdfplumber
PyMuPDF
lightgbm
scikit-learn
sentence-transformers
faiss-cpu
spacy
requests
tenacity
rank_bm25
pdf2image
pytesseract
pillow
jinja2
cadquery
